
@font-face {
    font-family: 'LightPixel';
    src: url('/fonts/light_pixel/VCR_OSD_MONO_1.001.ttf');
}

@font-face {
    font-family: 'HeavyPixel';
    src: url('/fonts/heavy_pixel/04B_30__.TTF');
}

body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: LightPixel;
    overflow: hidden;
}

.main{
    background-image: url("/background/background.jpg");
    min-height: 100vh;
}

.app{
    background-color: red;
    width: 30%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.topApp{
    background-color: aquamarine;
    height: 56vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    .lifebar{
        margin: auto;
    }

    .actualUpgrade{
        margin: auto;
        background-color: cornflowerblue;
        width: 100%;
        height: 5rem;
        text-align: center;
    
    }

    .DMGs{
        background-color: darkblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
}

.bottomApp{
    background-color: blueviolet;
    height: 40vh;
    padding: 20px;

    .upgradeMenu{
        margin: auto;
        display: flex;
        flex-direction: column;
        
        

        .upgrade{
            margin-top: 10px;
            margin-bottom: 10px;
            width: 100%;
            background-color: crimson;
            padding-top: 7px;
            padding-bottom: 7px;
            font-size: 20px;

            p{
                display: flex;
                justify-items: flex-end;
                align-items: center;
            }

            button{
                display: flex;
                flex-direction: column;
                border: none;
                color: black;
                font-family: LightPixel;
                font-size: 20px;
                background-color: orange;
                
            }
            
        }
    }

    .upgradeMenu *{
        margin: auto;
        text-align: center;
    }
}

.enemy{
    margin: auto;
    img{
        width: 100px;
        position: relative;
        
    }
    
}

