@font-face {
  font-family: 'LightPixel';
  src: url("/fonts/light_pixel/VCR_OSD_MONO_1.001.ttf");
}

@font-face {
  font-family: 'HeavyPixel';
  src: url("/fonts/heavy_pixel/04B_30__.TTF");
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: LightPixel;
  overflow: hidden;
}

.main {
  background-image: url("/background/background.jpg");
  min-height: 100vh;
}

.app {
  background-color: rgba(255, 0, 0, 0);
  width: 30%;
  margin: auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.topApp {
  background-color: rgba(127, 255, 212, 0);
  height: 56vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.topApp .lifebar {
  margin: auto;
  font-size: 30px;
  font-family: HeavyPixel;
}

.topApp .actualUpgrade {
  margin: auto;
  background-color: cornflowerblue;
  width: 100%;
  height: 5rem;
  text-align: center;
}

.topApp .DMGs {
  background-color: rgba(9, 9, 59, 0.377);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  text-align: center;
  font-size: 25px;
  border-radius: 50px;
  margin: auto;
}

.bottomApp {
  background-color: rgba(86, 47, 122, 0.164);
  height: 40vh;
  padding: 20px;
}

.bottomApp .upgradeMenu {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottomApp .upgradeMenu .upgrade {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: #690f21;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottomApp .upgradeMenu .upgrade p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottomApp .upgradeMenu .upgrade button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  color: black;
  font-family: LightPixel;
  font-size: 20px;
  background-color: orange;
}

.bottomApp .upgradeMenu .upgrade img {
  width: 50px;
}

.bottomApp .upgradeMenu .upgrade span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottomApp .upgradeMenu * {
  margin: auto;
  text-align: center;
}

.enemy {
  margin: auto;
}

.enemy img {
  width: 100px;
  position: relative;
}
/*# sourceMappingURL=styles.css.map */